page-home {

}
div{
    margin-left: auto;
    margin-right: auto;
}
.bg-image{
    background: url(../assets/imgs/860_main_library_bacteria.png);
    background-repeat: no-repeat;
    background-size:970px;        
    background-position:bottom right;
}

.font{  font-weight: 900;
    color:ghostwhite;
    font-size: 29px;
    text-shadow: 2px 2px black;
    border-style: solid;
    border-width: px;
    padding-bottom: 1%;
    padding-top: 1%;
}
